$color-primary: #4c5475;
$color-secondary: #f69e7b;
$color-dark: #1d202d;
$color-light: #fcf8f6;

$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "dark": $color-dark,
  "light": $color-light,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "sora", sans-serif;
}

@mixin overlay($color, $transparency) {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color, $transparency);
}

@mixin card-shadow() {
  box-shadow: 0 2px 10px rgba($color-dark, 0.1);
}

.py-6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: -1.25rem;
  margin-top: -1.25rem;
}

.topbar {
  .social-icon {
    font-size: 1.2rem;
  }
}

.navbar {
  text-transform: uppercase;
  .navbar-brand {
    .logo {
      width: 35px;
    }

    font-size: 1.5rem;
    font-weight: 300;
  }

  .nav-link {
    font-size: 1rem;
  }

  .cart-dropdown {
    .list-group {
      min-height: 15rem;
      max-height: 25rem;
      width: 15rem;
      overflow: scroll;
    }

    .list-group-item {
      padding: 0.2rem;
    }

    img {
      object-fit: cover;
      width: 60px;
      height: 60px;
      border-radius: 3px;
    }
  }

  img.profile-pic {
    object-fit: cover;
    width: 45px;
    height: 45px;
    border: 2px solid $color-secondary;
  }

  .signin {
    &:hover {
      background-color: lighten($color-secondary, 5%);
      color: white;
    }
  }

  form {
    .form-control {
      display: inline-block;
      width: 10rem;
      height: 2rem;
      font-size: 0.9rem;
    }
  }
}

#home {
  min-height: 85vh;

  .home-banner {
    height: 30rem;
    background: linear-gradient(
        rgba($color-secondary, 0.5),
        rgba($color-secondary, 0.9)
      ),
      url("https://images.unsplash.com/photo-1567016627485-de3bcbecdbb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80")
        no-repeat center center/cover;

    p.lead {
      font-size: 2rem;
    }
  }

  .showcase {
    position: relative;
  }

  .carousel {
    border-radius: 8px;
    overflow: hidden;

    .carousel-overlay {
      @include overlay(#000, 0.5);
    }
  }

  .collection-card {
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    .collection-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &::before {
      @include overlay(#000, 0.3);
    }

    .badge {
      position: absolute;
      left: 1rem;
      top: 1rem;
      opacity: 0.9;
      background-color: darken($color-primary, 10%);
      color: $color-light;
      font-size: 1rem;
    }
  }

  .discount {
    .discount-text {
      text-decoration: line-through;
      font-size: 0.8rem;
    }

    .card {
      img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #home {
    .home-banner {
      height: 20rem;

      h1 {
        font-size: 3rem;

        text-align: center;
      }
      p.lead {
        font-size: 2rem;
        text-align: center;
      }
    }

    .showcase {
      padding: 3rem 0;

      .carousel {
        margin-bottom: 1rem;
      }
    }

    .discount {
      padding: 3rem 0;
    }

    .about {
      padding: 3rem 0;
    }
  }
}

@media screen and (max-width: 576px) {
  #home {
    .home-banner {
      p.lead {
        font-size: 1.5rem;
      }
    }
  }
}

#itemsList {
  min-height: 85vh;
  .itemslist-banner {
    min-height: 25vh;
    background: linear-gradient(
        rgba($color-secondary, 0.5),
        rgba($color-secondary, 0.9)
      ),
      url(https://images.unsplash.com/photo-1510681491618-3cb3e5bb6bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)
        no-repeat center center/cover;
  }

  .card {
    @include card-shadow();

    img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
    }

    .discount-text {
      text-decoration: line-through;
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 768px) {
  #itemsList {
    .itemslist-banner {
      h1.display-4 {
        font-size: 3rem;
        padding: 0 1rem;
        text-align: center;
      }
    }

    .container {
      padding-top: 3rem;
      padding-top: 3rem;
    }
  }
}

#checkout {
  min-height: 85vh;
  .checkout-banner {
    min-height: 20vh;
    background: linear-gradient(
        rgba($color-secondary, 0.5),
        rgba($color-secondary, 0.9)
      ),
      url(https://images.unsplash.com/photo-1560472355-536de3962603?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80)
        no-repeat center center/cover;
  }

  .checkout-card {
    @include card-shadow();

    .checkout-card-img {
      object-fit: cover;
      width: 100%;
      height: 9rem;
    }

    .text-price {
      font-size: 1.1rem;
      .text-normal-price {
        text-decoration: line-through;
      }
    }
  }

  .subtotal-panel {
    @include card-shadow();
    .order-info-modal-form {
      position: relative;

      .use-profile-btn {
        position: absolute;
        right: 0;
        top: -7px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #checkout {
    h1.display-4 {
      font-size: 3rem;
    }
  }
}

#orders {
  min-height: 85vh;

  .orderlist-head {
    padding: 0.5rem 1rem;
    color: $color-primary;
    border-bottom: 2px solid $color-secondary;
    margin-bottom: 1rem;
  }

  .card {
    @include card-shadow();

    img {
      object-fit: cover;
      width: 100%;
      height: 9rem;
    }
  }

  .orderlist-item {
    padding: 0.2rem 0;

    a {
      text-decoration: none;

      display: block;
      height: 100%;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: lighten($color-secondary, 15%);
        color: $color-dark;
      }
    }
  }
}

#order-detail {
  .order-summary-panel {
    @include card-shadow();
  }

  .order-detail-item {
    @include card-shadow();
    .order-detail-item-img {
      object-fit: cover;
      height: 9rem;
    }

    .text-price {
      font-size: 1.1rem;
      .text-normal-price {
        text-decoration: line-through;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #order-detail {
    padding: 3rem 0;

    h1.display-4 {
      font-size: 3rem;
    }

    p.lead {
      font-size: 1rem;
    }
  }
}

#signup {
  min-height: 85vh;

  h1.display-4 {
    span {
      border-bottom: 3px solid $color-secondary;
    }
  }

  .form {
    @include card-shadow();

    .form-group {
      margin-bottom: 1.3rem;
      label {
        color: $color-primary;
        border-bottom: 2px solid $color-secondary;
        margin-bottom: 0.7rem;
      }
      .form-control {
      }
    }
  }
}
