$color-primary: #4c5475;
$color-secondary: #f69e7b;
$color-dark: #1d202d;
$color-light: #fcf8f6;

$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "dark": $color-dark,
  "light": $color-light,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "sora", sans-serif;
  font-weight: 300;
}

.py-6 {
  padding: 5rem 0;
}

.topbar {
  .topbar-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0.2rem 0;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;

    a {
      color: inherit;
      font-size: 1.2rem;

      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }
}
